<div class="user_show_name">
    <div class="user-img">
        <% if current_user.image? %>
            <img src='<%= current_user.image %>' class="icon" alt="ユーザーアイコン">
        <% else %>
            <image src="/assets/default.png" class="icon" alt="ユーザーアイコン" %>
        <% end %>
    </div>
    <%= current_user.name %>
</div>
<%= render 'shared/show' %>