<div class="jumbotron">
    <div class="container">
        <h3>その１フレーズが、人生を変える。</h3>
            <p>「memorybookonephrase」は、思い出の本から印象に残ったワンフレーズを共有することで、本との新たな出逢いを作る場です。</p>
            <p>ぜひ、あなたの大切なフレーズを共有してください。</p>
        <div class="login">
            <%= link_to 'ログイン', new_user_session_path,class:'btn btn-info col-sm-2 ' %>
            <%= link_to '新規登録',new_user_registration_path,class:'btn btn-warning col-sm-2 ' %>
        </div>
    </div>
</div>

<%= render 'shared/show' %>