<div class="container-fluid">
  <div class="row">
        <div class="center-block mx-auto">
            <div class-"form-box">
                <%= form_tag(home_create_path) do %>
                    <%= render 'shared/post_form' %>
                <% end %>
            </div>
        </div>
    </div>
</div>
