<div class="center-block mx-auto">
    <%= form_tag(home_create_path) do %>
        <div class="text">タイトル</div>
        <input type="text" name="title" class="form-control">
        <div class="text">著者</div>
        <input type="text" name="author" class="form-control">
        <div class="text">フレーズ</div>
        <input type="text" name="phrase" class="form-control">
        <div class="text">おすすめポイント</div>
        <textarea name="content" class="form-control" rows="3"></textarea>
        <div class="text">画像URL</div>
        <input type="url" name="book_image" class="form-control">
        <div class="center-block">
            <input type="submit" class="input-group-text bg-info text-white " value="投稿">
        </div>
    <% end %>
</div>
