<% @posts.each do |post| %>
    <div class="box book-img col-sm-12 col-md-4 center-block mx-auto">
        <div>
            <%= post.user.name %>
        </div>
        <h2>
            <%= post.phrase %>
        </h2>
        <p class="title">
            <%= post.title %>
        </p>
        <p class="content">
            <%= post.content%>
        </p>
    </div>
<% end %>