<div class="wrap">
<div class="container-fluid">
    <div>
        <h3>ほんとの出逢い。</h3>
        </div>
        <div>
        <p>すべての出逢いは言葉から始まります。それは本との出逢いも同じ。</p>
        <p>book memory phrase は、心に残った1フレーズを書籍から引用して共有することで、言葉から本との新たな出逢いを作る場です。</p>
    </div>
    <div class="row">
        <div class="book-img col-md-6 col-sm-12 center-block mx-auto">
            <div class="empty-box">
                <p>思い出のワンフレーズと一緒に投稿</p>
            </div>
        </div>
        <div class="book-img col-md-6 col-sm-12 center-block mx-auto">
            <div class="empty-box">
                <p>お気に入りの投稿を見つけよう</p>
            </div>
        </div>
    </div>
</div>
</div>
<%= render 'shared/ranking' %>
<fotter>
    <div>
        <a href="#"><i class="fab fa-quora fa-lg"></i></a>
        <a href="#"><i class="fab fa-github fa-lg"></i></a>
        <a href="#"><i class="fab fa-twitter fa-lg"></i></a>
    </div>
</fotter>