<div class="wrap">
<div class="jumbotron">
    <div class="container-fluid">
        <div id="disc">
            <h1>book memory phrase</h1>
            <h4>ほんとの出逢い</h4>
            <div>すべての出逢いは言葉から始まります。</div>
            <div>それは、本との出逢いも同じ。</div>
            <div>book memory phrase は、心に残った1フレーズを書籍から引用して共有することで、</div>
            <div>「ほんとの出逢い」を作る場です。</div>
        </div>
    </div>
</div>
    <div class="subtitle">New posts</div>
    <div class="row top-post-box">
        <%= render 'shared/top' %>
    </div>
    <% if user_signed_in? %>
        <div id="sigh-login">
            <%= link_to('もっと見る',posts_path) %>
        </div>
    <% else %>
        <div id="sigh-login">
            <%= link_to('もっと見る',users_sign_in_path) %>
        </div>
    <% end %>
</div>
</div>