<div class="wrap">
    <div class="container-fluid">
        <div class="row">
            <% for i in 0..29 do %>
                <div class="result-box">
                    <% if @results["items"][i]["volumeInfo"]["authors"].nil? %>
                        <p class="author">情報がありません</p>
                    <% else %>
                        <p class="author"><%= @results["items"][i]["volumeInfo"]["authors"][0] %></p>
                    <% end %>
                    <% if @results["items"][i]["volumeInfo"]["title"].nil? %>
                        <h3 class="title">情報がありません</h3>
                    <% else %>
                        <h3 class="title"><%= @results["items"][i]["volumeInfo"]["title"] %></h3>
                    <% end %>
                    <% if @results["items"][i]["volumeInfo"]["imageLinks"].nil? %>
                        <p class="author">情報がありません</p>
                    <% else %>
                        <img class="author" src="<%= @results["items"][i]["volumeInfo"]["imageLinks"]["thumbnail"] %>" >
                    <% end %>
                    <button onclick="setbook(this)"></button>
                </div>
            <% end %>
        </div>
    </div>
</div>