<div class="container-fluid">
    <div class="row">
        <div class="center-block mx-auto">
            <%= form_tag("/posts/#{@post.id}",{method: :patch}) do %>
                <%= render 'shared/post_form' %>
            <% end %>
        </div>
    </div>
</div>