<div class="container-fluid">
  <div class="row">
        <div class="center-block mx-auto">
                <%= form_tag(posts_path,{method: :post}) do %>
                    <%= render 'shared/post_form' %>
                <% end %>
        </div>
        <div id="search-box" class="center-block mx-auto">
            <%= form_tag(books_result_path, method: :post) do %>
                <input type="text" name="keyword" id="keyword" placeholder="書籍を検索">
                <button type="submit"><i class="fas fa-search"></i></button>
            <% end %>
            <div id="boksresults">
            </div>
        </div>
    </div>
</div>
