<div class="user_show_name">
    <div class="user-img show-icon">
        <% if @post.user.image? %>
            <img src='<%= @post.user.image %>' class="icon" alt="ユーザーアイコン">
        <% else %>
            <image src="/assets/default.png" class="icon" alt="ユーザーアイコン" %>
        <% end %>
    </div>
    <%= @post.post_user %>
    <div class="subtitle">List of posts</div>
</div>

<div class="wrap">
    <div class="container-fluid">
        <%= render 'shared/index' %>
    </div>
</div>
<div class="subtitle">Bookmark list</div>
<div class="container-fluid">
    <%= render 'shared/likespost' %>
</div>