/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ========================================
    色指定
========================================= */
$textcolor: #7b777c;
$linkcolor: #3e3a3f;
$c-white: #ffffff;
$like-icon: #a9dee6;
$liked-icon: #ff949c;
$shadow: rgba(110, 147, 168, 0.5);

/* ========================================
    ローディング画面
========================================= */
 @import "mixin";

#back{
    width: 100vw;
    height: 100vh;
    background-color: $c-white;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    & div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: auto;
        & p{
            color: $like-icon;
            & span{
                @include animation(
                    $name: dot-anime
                );
            }
        }
    }
}

#load-box{
    width: 100px;
    height: 135px;
    border: 1px solid $like-icon;
    & div{
        width: 60px;
        border: 1px solid $like-icon;
        margin: 5px auto;
        transform-origin: left;
        animation-timing-function: cubic-bezier(1, 0.03, 0.98, 0.04);
        @include animation(
            $name: load-anime
        );
        @for $i from 1 through 7 {
            &:nth-child(#{$i}){
                animation-delay: -1.3s + $i * 0.1s;
            }
        }
    }
}

@keyframes load-anime{
    0%{
        opacity: 0;
        transform: scaleX(0);
    }
    50%{
        opacity: 1;
        transform: scaleX(1);
    }
    100%{
        opacity: 0;
        transform: scaleX(0);
    }
}

@keyframes dot-anime{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.loaded{
    opacity: 0;
    visibility: hidden;
}


/* ========================================
    まとめて指定
========================================= */

body{
    font-weight: 100;
    font-family:"Noto Serif JP" !important;
    font-size: medium;
    color: $textcolor;
}

h2{
    padding: 30px 15px;
}

h5{
    margin: 0;
}

a{
    text-decoration: none;
}

nav ul li a{
    color:　$linkcolor;
}

.title-top a,
header p,
.wrap,
.user_show_name,
.form-box,
.box a,
input,
textarea{
    color: $textcolor;
}

i{
    color: $textcolor;
    &:hover{
        color: $linkcolor;
    }
}

.alert{
    z-index: 3;
}

.site-title{
    color: $linkcolor;
}

p{
    text-indent: 1em;
}

#overwrap{
    background-image: url("/images/cover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border: 30px solid $c-white;
}

.wrap{
    widows: 100%;
    height: auto;
    text-align: -webkit-center;
    margin: 50px auto;
}

.alert{
    text-align: center;
}

.input-submit,
.submit-btn,
.actions input{
    background-color: $c-white;
    text-align: center;
    padding: 20px 40px;
    border: none;
    color: $textcolor;
    transition: all 0.3s;
    margin: 20px 0;
    border-radius: 50px;
    box-shadow: 10px 10px 6px $shadow;
    border: 1px solid $textcolor;
    &:hover{
        color: $linkcolor;
        transition: all 0.3s;
        text-decoration: none;
        box-shadow: 5px 5px 6px $shadow;
    }
}

.form-box{
    background: $c-white;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    margin: 20px 0;
    width: 500px;

    & textarea{
        margin-bottom: 30px;
    }
}

.subtitle{
    text-align: left;
    margin: 50px 0 -30px 0;
    color: $textcolor;
    height: 62px;
    padding: 10px;
    width: 45%;
    font-size: x-large;
    background-color: $c-white;
    border-left: none;
    background-color: $c-white;
    border-right: 5px solid $textcolor;
}

/* ========================================
    ナビゲーション
========================================= */
#title-nav{
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 30;
}

.title-top{
    padding-top: 5px;
    text-align: center;
}

.site-title{
    font-weight: bolder;
    margin: auto;
}

*, *:before, *:after {
    padding: 0;
    box-sizing: border-box;
    }
    ol, ul {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    /* menu */
    .cp_offcm03 {
        left: 0;
        overflow: auto;
        width: 100%;
        height: auto;
        padding-top: 0;
        -webkit-transition: transform 0.3s ease-in;
        transition: transform 0.3s ease-in;
        text-align: center;
        background-color: transparent;
    }
    .cp_offcm03 nav,
    .cp_offcm03 ul {
        height: 100%;
    }

    .cp_offcm03{
        margin: 0;
        opacity: 0;
        transition: all 0.3s;
        &:hover{
            opacity: 1;
            transform: translate(0,30px);
            transition: all 0.3s;
        }
    }

    .cp_offcm03{
        & li {
                display: inline-block;
                margin-right: -6px;
                border: none;
        }
        & a{
            display: block;
            padding: 12px 45px;
            -webkit-transition: background-color .3s ease-in;
            transition: background-color .3s ease-in;
            &:hover {
                text-decoration: none;
            }
            & i{
                font-size: larger;
            }
        }
    }
    /* menu toggle */
    #cp_toggle03 {
        display: none;
    }
    #cp_toggle03:checked ~ .cp_offcm03 {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    #cp_toggle03:checked ~ .cp_container {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .cp_mobilebar {
        display: none;
    }
    /* content */
    .cp_container {
        position: relative;
        top: 0;
        padding: 35px auto;
        -webkit-transition: transform .3s ease-in;
        transition: transform .3s ease-in;
    }
    .cp_content {
        margin: 0 auto;
        padding: 20px;
        height: 65vh;
    }
    @media (max-width: 767px) {
    /* menu */
    .cp_offcm03 {
        position: fixed;
        left: -250px;
        overflow-y: hidden;
        width: 250px;
        height: 100%;
        padding-top: 30px;
        background-color: transparent;
        opacity: 1;
        & nav {
            background: transparent;
            width: min-content;
        }
        & li {
            display: block;
            margin-right: 0;
        }
        & a {
            padding: 20px 17px;
            color: $linkcolor;
        }
    }
    /* menu toggle */
    .cp_mobilebar {
        display: block;
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0 15px;
        width: 100%;
        height: 60px;
        background-color: transparent;
    }
    .cp_menuicon {
        display: block;
        position: relative;
        width: 25px;
        height: 100%;
        cursor: pointer;
        -webkit-transition: transform .3s ease-in;
        transition: transform .3s ease-in;
    }
    .cp_menuicon > span {
        display: block;
        position: absolute;
        top: 55%;
        margin-top: -0.3em;
        width: 100%;
        height: 0.2em;
        border-radius: 1px;
        background-color: $linkcolor;
        -webkit-transition: transform .3s ease;
        transition: transform .3s ease;
    }
    .cp_menuicon > span:before,
    .cp_menuicon > span:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 1px;
        background-color: $linkcolor;
        -webkit-transition: transform .3s ease-in;
        transition: transform .3s ease-in;
    }
    .cp_menuicon > span:before {
        -webkit-transform: translateY(-0.6em);
        transform: translateY(-0.6em);
    }
    .cp_menuicon > span:after {
        -webkit-transform: translateY(0.6em);
        transform: translateY(0.6em);
    }
    #cp_toggle03:checked + .cp_mobilebar .cp_menuicon {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    #cp_toggle03:checked + .cp_mobilebar span:before,
    #cp_toggle03:checked + .cp_mobilebar span:after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    #cp_toggle03:checked ~ .cp_offcm03 {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    #cp_toggle03:checked ~ .cp_container {
        -webkit-transform: translateX(250px);
        transform: translateX(250px);
    }
    /* content */
    .cp_container {
        top: 60px;
        height: 92vh;
    }
}

/* ========================================
    投稿
========================================= */

.box,
.empty-box{
    writing-mode: vertical-rl;
    padding: 15px;
    text-align: start;
    height: 650px;
    display: flex;
    flex-direction: row;
    width: 380px;
}

.box,
.result-box{
    background-color: $c-white;
    margin: 25px 0;
    box-shadow: 15px 20px 6px $shadow;
    transition: all 0.3s;
    transform: translate(0);
    &:hover{
        box-shadow: 30px 35px 6px $shadow;
        transition: all 0.3s;
        transform: translate(-10px,-10px);
    }
    & a,
    & span{
        font-weight: bold;
    }
}

.result-box{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 380px;
    height: 500px;
    margin: 30px auto;
    color: $textcolor;
    & img{
        width: 265px;
        margin-bottom: 14px;
    }
    & h3{
        font-size: 20px;
        font-weight: bold;
    }
}

.empty-box{
    background: url("/images/favorite_default.png");
    background-size: cover;
    background-position: center;
    margin: 20px auto;
    & p{
        color: $c-white;
        margin: auto;
    }
}

.image-box{
    height: 50%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content-box{
    margin-bottom: -30px;
}

.text{
    margin: 20px 0 10px 0;
}

.center-block input{
    margin: 10px 0 30px 0;
}

.title{
    font-size: large;
    font-size: 17px;
}

.box-head{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.name{
    display: -webkit-box;
    margin-bottom: 5px;
}

.edit-trash{
    display: flex;
    flex-direction: column-reverse;
    & i{
        margin: 0 10px;
    }
}

.author,
.edit-delete{
    text-align: end;
}

.content{
    font-size: 15px;
    line-height: 2.0;
}

.edit-delete{
    font-size: smaller;
}

img{
    width: 200px;
}

.favorite-icon{
    display: flex;
    flex-direction: column-reverse;
}

.user_show_name{
    margin: 70px 0 10px 0;
    text-align: center;
    font-size: larger;
    color: $linkcolor;
}

.icon{
    width: 45px;
    height: 45px;
    border-radius: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.not-like{
    color: $like-icon;
    &:hover{
        color: $liked-icon;
    }
}

.liked{
    color: $liked-icon;
    &:hover{
        color: $like-icon;
    }
}

.user-img img,
.show-icon img{
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.show-icon img{
    margin: 0;
}

.user-img img{
    margin-bottom: 15px;
}

nav.pagination {
    display: none;
}

/* ========================================
    フッター
========================================= */

footer{
    background-color: $c-white;
    padding: 10px;
    color: $textcolor;
    & div{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        & a{
            margin: 0 20px;
            border: 1px solid $textcolor;
            padding: 10px 12px;
            border-radius: 50px;
            box-shadow: 4px 4px 3px $shadow;
            &:hover{
                transition: all 0.3s;
                color: $linkcolor;
                box-shadow: 2px 2px 3px $shadow;
            }
        }
    }
}

@media screen and (max-width:767px) {
    /*　画面サイズが1024px以下からはここを読み込む　*/
    #title-nav{
        background-color: transparent;
    }

    .site-title{
        color: $linkcolor;
    }

    .user_show_name{
        color: $linkcolor;
        margin-top: 40px;
        margin-bottom: -45px;
    }

    .form-box{
        width: 400px;
    }
}