/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* ========================================
    まとめて指定
========================================= */

body{
    font-weight: 100;
    font-family:serif !important;
    font-size: medium;
}

h2{
    padding: 30px 15px;
}

h5{
    margin: 0;
}

header a,
header p,
li{
    color:#fff;
}

#wrap{
    color: #4e351e;
}

p{
    text-indent: 1em;
}

#overwrap{
    background-color: #f2f2e8;
}

#wrap{
    widows: 100%;
    height: auto;
    text-align: -webkit-center;
    padding: 10px;
}

.box{
    writing-mode: vertical-rl;
    padding: 25px;
    text-align: start;
    height: auto;
    margin: 15px;
    border: solid 1px #d9d9d9;
    background-size: cover;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    width: 400px;
}

.image-box{
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-block{
    margin: 10px;
}

.login{
    width: -webkit-fill-available;
    margin: 20px;
}

.text{
    margin: 20px 0 10px 0;
}

textarea{
    widows: 60%;
    height: 20%;
}

.center-block input{
    margin: 10px 0 30px 0;
}

.title{
    font-size: large;
}

.name{
    margin-right: -10px;
}

.name,
.author,
.edit-delete{
    text-align: end;
}

.content,
.title{
    line-height: 2.0;
}

.jumbotron {
    background:url("/images/top-book.jpg") center no-repeat;
    background-size: cover;
    color: #fff;
}

.edit-delete{
    font-size: smaller;
}

img{
    width: 200px;
}

@media screen and (max-width:1024px) {
    /*　画面サイズが1024px以下からはここを読み込む　*/
    .box{
        height: 90%;
    }
}