/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* ========================================
    まとめて指定
========================================= */

body{
    font-weight: 100;
    font-family:serif !important;
    font-size: medium;
}

h2{
    padding: 30px 15px;
}

header a,
nav a{
    color:#fff;
}

p{
    text-indent: 1em;
}

#wrap{
    widows: 100%;
    height: auto;
    background-color: #f0ebd8;
    color: #4e351e;
    text-align: -webkit-center;
    padding: 10px;
}

.box{
    background-color: rgb(253, 255, 246);
    writing-mode: vertical-rl;
    padding: 15px;
    text-align: start;
    width: auto;
    height: 75%;
    margin: 30px;
}

.login{
    width: -webkit-fill-available;
    margin: 20px;
}

/* ========================================
    メディアクエリ モバイル
========================================= */

@media only screen and (max-width: 767px){

    #wrap {
    padding-right: 50px;
    }
}