// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$textcolor: #7b777c;
$linkcolor: #3e3a3f;
$c-white: #ffffff;
$like-icon: #a9dee6;
$liked-icon: #ff949c;
$shadow: rgba(110, 147, 168, 0.5);

#disc{
    color: $c-white;
    text-align: center;
    padding: 90px;
    border-radius: 50px;
    & h1{
        margin-bottom: 30px;
    }
    & h4{
        margin-bottom: 15px;
    }
}

.jumbotron{
    background: url("/images/kidread.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.top-post-box{
    margin-bottom: 30px;
}

#sigh-login{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto 30px auto;
    & a{
        background-color: $c-white;
        text-align: center;
        padding: 20px 40px;
        border: none;
        color: $textcolor;
        transition: all 0.3s;
        margin: 20px 0;
        border-radius: 50px;
        box-shadow: 10px 10px 6px $shadow;
        &:hover{
            color: $linkcolor;
            transition: all 0.3s;
            text-decoration: none;
            box-shadow: 5px 5px 6px $shadow;
        }
    }
}