// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$textcolor: #7b777c;
$linkcolor: #3e3a3f;
$c-white: #ffffff;
$like-icon: #a9dee6;
$liked-icon: #ff949c;
$shadow: rgba(110, 147, 168, 0.5);

#search-box{
    margin-top: 30px;
    & form{
        text-align: center;
    }
    & button{
        background: none;
        border: none;
    }
}

#keyword{
    width: 260px;
    height: 35px;
    border-radius: 50px;
    border: 1px solid $textcolor;
    padding: 10px;
}

#ajax-response{
    margin: auto;
}

@media screen and (max-width:767px) {
    #search-box{
        margin-top: 10px;
    }
}