// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-input {
    & input{
        margin: 10px 0 30px 0;
        width: 70%;
    }
    & span{
        font-size: small;
    }
}

.btn-block{
    margin: 10px;
}

.btn-box{
    margin: 20px 0;
}

.login{
    width: -webkit-fill-available;
    margin: 20px;
}

#user_remember_me{
    width: 25px;
}

.user-favorite{
    margin: auto;
}