<div id="back">
    <div>
        <div id="load-box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <p>Loading<span>...</span></p>
    </div>
</div>